.head{
  font-size:50px;
  font-family:Arial Rounded MT ;
  text-align: center;
  position: relative;
  top:50px;
}
.date{
  position: relative;
  top: 90px;
  left: 30%;
}
.input{
  position: relative;
  top: 65px;
  left: 30%;
}
.list{
  position: relative;
  top: 110px;
  width: 700px;
  left:29%;
}
.input{
  width: 700px;
}
.item{
  font-size: 15px;
}
.delete{
  font-size: 18px;
}